.section-1 {
    padding: 40px 375px 0 375px;
    
    @media (max-width: 1440px) {
        padding: 40px 150px 0 150px;
    }

    header {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;    

        nav {
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                text-decoration: none;
                font-family: $fw-500;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: -0.500211px;
                color: $mainBlack;
            }

            .active {
                color: $orange;
            }

            .btn {
                font-family: $fw-400;
                padding: 15px 32px;
                border: 1px solid $orange;
                color: $orange;
                border-radius: 30px;


                &:hover {
                    background-color: $orange;
                    color: #ffffff;
                }
            }
        }
    }

    main {
        height: calc(100vh - 62px - 40px);


        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.lock {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 66px;
    height: 66px;
    z-index: 1;
    border-radius: 11px;
    box-shadow: 50px 10px 100px rgba(136, 136, 136, 0.2);
    backdrop-filter: blur(50px);
   
    background-color: rgba(255, 255, 255, 0.8);
    img {
        position: absolute;
        top: 50%;
        left: 50%;   
        transform: translate(-50%, -50%);
    }
}

.battery {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -110px;
    display: flex;
    align-items: center;
    gap: 22px;
    width: 250px;
    height: 90px;
    border-radius: 15px;
    box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.8);

    img {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 17px 24px;
        border-radius: 10px;
        box-shadow: 10px 20px 100px rgba(136, 136, 136, 0.2);
        backdrop-filter: blur(50px);
        margin-left: 16px;
    }
}

.sec-1__text {
    h2 {
        font-family: $fw-700;
        font-size: 80px;
        line-height: 104%;
        color: $mainBlack;
    }

    span {
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 54px;
        height: 6px;
        background-color: $orange;
        border-radius: 10px;
    }

    p {
        font-size: 22px;
        line-height: 180%;
        color: $mainBlack;
    }

    .sec-1-btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 26px;

        a {
            text-decoration: none;
            &:first-child {
                padding: 19px 50px;
                border-radius: 40px;
                color: white;
                background-color: $orange;

                &:hover {
                    background-color: white;
                    color: $orange;
                    border: 1px solid $orange;
                    border-radius: 40px;
                }
            }

            &:last-child {
                padding: 19px 40px;
                background-color: white;
                color: $mainBlack;
                border: 1px solid $orange;
                border-radius: 40px;

                &:hover {
                    background-color: $orange;
                    color: white;
                }
            }
        }
    }
}

.sec-1__img {
    .back-white {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: white;
        .back-orange {
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 350px;
            height: 350px;
            background-color: #FAD36B;
            border-radius: 50%  ;
            img {
                width: 400px;
            }
        }
    }
}

.back {
    .green {
        position: absolute;
        bottom: 20px;
        left: 60%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #13CB73;
    }

    .purple {
        position: absolute;
        right: 120px;
        top: 50%;

        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: #8B6FFF;
    }

    .yellow {
        position: absolute;
        top: 50%;
        left: 55%;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #FAD36C;
    }
}